[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
python-decouple = "==3.4"
graphene-django = "==2.15.0"
requests = "==2.25.1"
geopy = "==2.1.0"
psycopg2-binary = "==2.8.6"
django-redis = "==4.12.1"
gunicorn = "==20.1.0"

[dev-packages]
black = "*"
django-nose = "*"
freezegun = "*"
coverage = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true